/* line 43, ../sass/semantic-grid.scss */
body {
  width: 100%;
  *zoom: 1;
}
/* line 29, ../sass/semantic-grid.scss */
body:before, body:after {
  content: "";
  display: table;
}
/* line 33, ../sass/semantic-grid.scss */
body:after {
  clear: both;
}
