@import url(../css/reset.css);
@import url(../vendor/fixedsticky/fixedsticky.css);
@import url(../vendor/chosen/chosen.css);
@import url(../fonts/MyFontsWebfontsKit.css);
/* line 4, ../vendor/odometer/sass/_mixins.sass */
.odometer.odometer-auto-theme, .odometer.odometer-theme-default {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
}
/* line 8, ../vendor/odometer/sass/_mixins.sass */
.odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-default .odometer-digit {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
}
/* line 12, ../vendor/odometer/sass/_mixins.sass */
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer, .odometer.odometer-theme-default .odometer-digit .odometer-digit-spacer {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  visibility: hidden;
}
/* line 16, ../vendor/odometer/sass/_mixins.sass */
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner, .odometer.odometer-theme-default .odometer-digit .odometer-digit-inner {
  text-align: left;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
/* line 26, ../vendor/odometer/sass/_mixins.sass */
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon, .odometer.odometer-theme-default .odometer-digit .odometer-ribbon {
  display: block;
}
/* line 29, ../vendor/odometer/sass/_mixins.sass */
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner, .odometer.odometer-theme-default .odometer-digit .odometer-ribbon-inner {
  display: block;
  -webkit-backface-visibility: hidden;
}
/* line 33, ../vendor/odometer/sass/_mixins.sass */
.odometer.odometer-auto-theme .odometer-digit .odometer-value, .odometer.odometer-theme-default .odometer-digit .odometer-value {
  display: block;
  -webkit-transform: translateZ(0);
}
/* line 37, ../vendor/odometer/sass/_mixins.sass */
.odometer.odometer-auto-theme .odometer-digit .odometer-value.odometer-last-value, .odometer.odometer-theme-default .odometer-digit .odometer-value.odometer-last-value {
  position: absolute;
}
/* line 42, ../vendor/odometer/sass/_mixins.sass */
.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-up .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 2s;
  -moz-transition: -moz-transform 2s;
  -ms-transition: -ms-transform 2s;
  -o-transition: -o-transform 2s;
  transition: transform 2s;
}
/* line 49, ../vendor/odometer/sass/_mixins.sass */
.odometer.odometer-auto-theme.odometer-animating-up.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-up.odometer-animating .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
/* line 58, ../vendor/odometer/sass/_mixins.sass */
.odometer.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-down .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
/* line 65, ../vendor/odometer/sass/_mixins.sass */
.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 2s;
  -moz-transition: -moz-transform 2s;
  -ms-transition: -ms-transform 2s;
  -o-transition: -o-transform 2s;
  transition: transform 2s;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

/* line 8, ../vendor/odometer/sass/odometer-theme-default.sass */
.odometer.odometer-auto-theme, .odometer.odometer-theme-default {
  font-family: "Helvetica Neue", sans-serif;
  line-height: 1.1em;
}
/* line 12, ../vendor/odometer/sass/odometer-theme-default.sass */
.odometer.odometer-auto-theme .odometer-value, .odometer.odometer-theme-default .odometer-value {
  text-align: center;
}

/* line 43, ../sass/semantic-grid.scss */
body {
  width: 100%;
  *zoom: 1;
}
/* line 29, ../sass/semantic-grid.scss */
body:before, body:after {
  content: "";
  display: table;
}
/* line 33, ../sass/semantic-grid.scss */
body:after {
  clear: both;
}

/* line 13, ../sass/variables.scss */
.Gibson-Light {
  font-weight: normal;
  font-style: normal;
  font-family: Gibson-Light;
}

/* line 14, ../sass/variables.scss */
.Gibson-LightIt {
  font-weight: normal;
  font-style: normal;
  font-family: Gibson-LightIt;
}

/* line 15, ../sass/variables.scss */
.Gibson-Regular {
  font-weight: normal;
  font-style: normal;
  font-family: Gibson-Regular;
}

/* line 16, ../sass/variables.scss */
.Gibson-Italic {
  font-weight: normal;
  font-style: normal;
  font-family: Gibson-Italic;
}

/* line 17, ../sass/variables.scss */
.Gibson-SemiBold {
  font-weight: normal;
  font-style: normal;
  font-family: Gibson-SemiBold;
}

/* line 18, ../sass/variables.scss */
.Gibson-SemiboldIt {
  font-weight: normal;
  font-style: normal;
  font-family: Gibson-SemiboldIt;
}

/* line 9, ../sass/style.scss */
body, html {
  height: 100%;
}

/* line 11, ../sass/style.scss */
body {
  font-family: Gibson-Light;
  letter-spacing: 0.03em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  word-wrap: break-word;
  word-break: break-word;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* line 22, ../sass/style.scss */
strong {
  font-family: Gibson-Regular;
  letter-spacing: 0.03em;
}

/* line 24, ../sass/style.scss */
.clear {
  clear: both;
}

/* line 26, ../sass/style.scss */
a {
  -webkit-transition: color 0.1s ease-in-out;
  -moz-transition: color 0.1s ease-in-out;
  -o-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
  text-decoration: none;
  color: #ed4f2e;
}
/* line 31, ../sass/style.scss */
a:hover {
  color: #2a3d4b;
}

/* line 38, ../sass/style.scss */
.main-navigation {
  top: 0px;
  z-index: 99;
  height: 105px;
  width: 100%;
  background: rgba(255, 255, 255, 0.98);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
  padding: 35px 0;
}
/* line 48, ../sass/style.scss */
.main-navigation .logo {
  position: relative;
  margin-left: 50px;
}
/* line 53, ../sass/style.scss */
.main-navigation .menu-items {
  float: right;
  margin-right: 50px;
  margin-top: -20px;
}
/* line 59, ../sass/style.scss */
.main-navigation li {
  font-family: Gibson-Regular;
  letter-spacing: 0.03em;
  list-style-type: none;
  float: left;
  font-size: 15px;
  padding-right: 45px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 68, ../sass/style.scss */
.main-navigation a {
  -webkit-transition: color 0.1s ease-in-out;
  -moz-transition: color 0.1s ease-in-out;
  -o-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
  color: #323232;
  text-decoration: none;
}
/* line 73, ../sass/style.scss */
.main-navigation a:hover {
  color: #ed4f2e;
}
/* line 76, ../sass/style.scss */
.main-navigation .login {
  font-family: Gibson-Regular;
  letter-spacing: 0.05em;
  font-size: 13px;
  border-radius: 5px;
  background: white;
  color: #ed4f2e;
  padding: 14px 26px;
  border: 1px solid #ed4f2e;
  position: relative;
  -webkit-font-smoothing: subpixel-antialiased;
  top: -1px;
  margin-right: -5px;
  border-radius: 5px 0px 0px 5px;
}
/* line 21, ../sass/mixins.scss */
.main-navigation .login:hover {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: #2a3d4b;
  color: white;
  border: 1px solid #2a3d4b;
}
/* line 83, ../sass/style.scss */
.main-navigation .get-started {
  font-family: Gibson-Regular;
  letter-spacing: 0.05em;
  font-size: 13px;
  border-radius: 5px;
  background: #ed4f2e;
  color: white;
  padding: 14px 26px;
  border: 1px solid #ed4f2e;
  position: relative;
  -webkit-font-smoothing: subpixel-antialiased;
  top: -1px;
}
/* line 21, ../sass/mixins.scss */
.main-navigation .get-started:hover {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: #2a3d4b;
  color: white;
  border: 1px solid #2a3d4b;
}

/* line 90, ../sass/style.scss */
.mobile-menu {
  display: none;
}

/* line 94, ../sass/style.scss */
.sidenav {
  margin-top: 60px;
  width: 180px;
  float: left;
  position: relative;
  margin-right: 80px;
  opacity: 0.5;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* line 103, ../sass/style.scss */
.sidenav:hover {
  opacity: 1.0;
}
/* line 105, ../sass/style.scss */
.sidenav li {
  list-style-type: none;
  font-family: Gibson-Regular;
  letter-spacing: 0.03em;
  font-size: 16px;
  margin-bottom: 15px;
  letter-spacing: 0.01em;
  line-height: 26px;
}
/* line 113, ../sass/style.scss */
.sidenav li a {
  color: #323232;
}
/* line 114, ../sass/style.scss */
.sidenav li a:hover {
  color: #ed4f2e;
}
/* line 117, ../sass/style.scss */
.sidenav li.current a {
  border-left: 3px solid #ed4f2e;
  padding-left: 20px;
  margin-left: -23px;
  color: #ed4f2e;
}

/* line 130, ../sass/style.scss */
h1 {
  font-size: 64px;
  line-height: 74px;
  margin-bottom: 30px;
  letter-spacing: -0.01em;
}

/* line 137, ../sass/style.scss */
h2 {
  font-family: Gibson-Light;
  letter-spacing: 0.03em;
  color: #323232;
  font-size: 46px;
  line-height: 60px;
  letter-spacing: 0.00em;
}
/* line 144, ../sass/style.scss */
h2.centered {
  padding-bottom: 50px;
  max-width: 700px;
  text-align: center;
  margin: 0 auto 40px;
}

/* line 152, ../sass/style.scss */
h3 {
  font-size: 24px;
  font-family: Gibson-Regular;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

/* line 159, ../sass/style.scss */
.subpage-content h4 {
  font-size: 18px;
  font-family: Gibson-Regular;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

/* line 166, ../sass/style.scss */
h6 {
  font-family: Gibson-Light;
  letter-spacing: 0.03em;
  color: #323232;
  font-size: 13px;
  letter-spacing: 8px;
  text-transform: uppercase;
  border-bottom: 1px solid #CCC;
}
/* line 174, ../sass/style.scss */
h6.reasons, h6.stories-title {
  text-align: center;
  margin: 130px auto 65px;
  padding-bottom: 30px;
}
/* line 180, ../sass/style.scss */
h6.marketplace-design, h6.track-manage {
  margin: 100px 0 30px;
  padding-bottom: 15px;
}
/* line 185, ../sass/style.scss */
h6.reasons {
  width: 400px;
}
/* line 187, ../sass/style.scss */
h6.stories-title, h6.story-page {
  width: 225px;
}
/* line 189, ../sass/style.scss */
h6.marketplace-design {
  width: 280px;
}
/* line 191, ../sass/style.scss */
h6.track-manage {
  width: 220px;
}
/* line 193, ../sass/style.scss */
h6.payments {
  width: 124px;
  margin: 150px 0 40px;
  padding-bottom: 15px;
}
/* line 195, ../sass/style.scss */
h6.story-page {
  text-align: center;
  margin: 100px auto 50px;
  padding-bottom: 30px;
}

/* line 199, ../sass/style.scss */
.feature h6 {
  font-family: Gibson-Regular;
  letter-spacing: 0.03em;
  font-size: 11px;
  letter-spacing: 5px!important;
  margin-bottom: 25px;
  padding-bottom: 15px;
}

/* line 214, ../sass/style.scss */
.main-wrapper {
  font-family: Gibson-Light;
  letter-spacing: 0.03em;
  max-width: 1140px;
  margin: 0 auto;
}
/* line 219, ../sass/style.scss */
.main-wrapper.pricing {
  position: relative;
  top: -120px;
}

/* line 225, ../sass/style.scss */
.logo {
  width: 165px;
  height: auto;
}

/* line 230, ../sass/style.scss */
a.button {
  font-family: Gibson-Regular;
  letter-spacing: 0.05em;
  font-size: 13px;
  border-radius: 5px;
  background: #ed4f2e;
  color: white;
  padding: 14px 26px;
  border: 1px solid #ed4f2e;
  position: relative;
  -webkit-font-smoothing: subpixel-antialiased;
}
/* line 21, ../sass/mixins.scss */
a.button:hover {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: #2a3d4b;
  color: white;
  border: 1px solid #2a3d4b;
}

/* line 232, ../sass/style.scss */
.subpage-content {
  width: 865px;
  float: left;
  height: auto;
  margin-top: 28px;
  margin-bottom: 65px;
}
/* line 239, ../sass/style.scss */
.subpage-content.text-only {
  margin-top: 58px;
  width: 700px;
  font-size: 16px;
  line-height: 26px;
  padding-bottom: 65px;
}
/* line 246, ../sass/style.scss */
.subpage-content.text-only p {
  margin-bottom: 26px;
}
/* line 248, ../sass/style.scss */
.subpage-content.text-only p.updated {
  font-size: 14px;
  color: #999;
  margin-bottom: 20px;
}
/* line 254, ../sass/style.scss */
.subpage-content.text-only p.important-privacy {
  font-size: 30px;
  line-height: 42px;
  font-family: Gibson-LightIt;
}
/* line 260, ../sass/style.scss */
.subpage-content.text-only ol {
  counter-reset: item;
}
/* line 262, ../sass/style.scss */
.subpage-content.text-only ol li {
  display: block;
  position: relative;
}
/* line 267, ../sass/style.scss */
.subpage-content.text-only ol li:before {
  content: counters(item, ".") ".";
  counter-increment: item;
  position: absolute;
  margin-right: 100%;
  right: 10px;
  /* space between number and text */
}

/* line 283, ../sass/style.scss */
.hero .logo {
  position: relative;
  top: 0;
  margin-bottom: 100px;
}

/* line 289, ../sass/style.scss */
.hero {
  position: relative;
  width: 100%;
  height: 100%;
  background: #ed4f2e;
  color: white;
  background: url("../images/bg.hero.jpg") no-repeat center center fixed;
  background-size: cover;
}
/* line 298, ../sass/style.scss */
.hero a.button.ghost {
  font-family: Gibson-Light!important;
  font-family: Gibson-Regular;
  letter-spacing: 0.05em;
  font-size: 13px;
  border-radius: 5px;
  background: none;
  color: white;
  padding: 14px 26px;
  border: 1px solid white;
  position: relative;
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: 15px;
  letter-spacing: 0.07em;
  padding: 16px 26px;
}
/* line 21, ../sass/mixins.scss */
.hero a.button.ghost:hover {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: #2a3d4b;
  color: white;
  border: 1px solid #2a3d4b;
}
/* line 306, ../sass/style.scss */
.hero a.button.white {
  font-family: Gibson-Regular;
  letter-spacing: 0.05em;
  font-size: 13px;
  border-radius: 5px;
  background: white;
  color: #ed4f2e;
  padding: 14px 26px;
  border: 1px solid white;
  position: relative;
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: 15px;
  letter-spacing: 0.03em;
  margin-right: 30px;
  padding: 16px 26px;
}
/* line 21, ../sass/mixins.scss */
.hero a.button.white:hover {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: #2a3d4b;
  color: white;
  border: 1px solid #2a3d4b;
}
/* line 314, ../sass/style.scss */
.hero img.crown {
  margin-right: 7px;
  float: none;
  display: inline-block;
  width: 15px;
  vertical-align: -1px;
}
/* line 322, ../sass/style.scss */
.hero a.login {
  color: white;
  font-size: 13px;
  opacity: 0.7;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/* line 328, ../sass/style.scss */
.hero a.login:hover img.arrow {
  margin-left: 9px;
}
/* line 330, ../sass/style.scss */
.hero a.login:hover {
  opacity: 1.0;
}
/* line 332, ../sass/style.scss */
.hero a.login img.arrow {
  margin-left: 3px;
  float: none;
  display: inline-block;
  width: 15px;
  vertical-align: -3px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/* line 342, ../sass/style.scss */
.hero p {
  font-family: Gibson-Regular;
  letter-spacing: 0.03em;
  font-size: 19px;
  line-height: 36px;
  margin-bottom: 55px;
  letter-spacing: 0.02em;
}

/* line 351, ../sass/style.scss */
.hero-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10%;
  right: 0;
  margin: auto;
  height: 600px;
}
/* line 360, ../sass/style.scss */
.hero-text img {
  float: right;
}

/* line 363, ../sass/style.scss */
.hero-text-container {
  max-width: 700px;
  float: left;
}

/* line 374, ../sass/style.scss */
.subpage-header, .pricing-page {
  width: 100%;
  background-color: #ed4f2e;
  color: white;
  background: url("../images/bg.where.jpg") no-repeat center bottom fixed;
  background-size: cover;
}
/* line 381, ../sass/style.scss */
.subpage-header h2, .pricing-page h2 {
  font-size: 52px;
  font-family: Gibson-Light;
  letter-spacing: 0.03em;
  letter-spacing: 0.00em;
  padding: 90px 0;
  color: white;
}

/* line 391, ../sass/style.scss */
.subpage-header h2 {
  text-align: center;
  margin-bottom: 40px;
}

/* line 397, ../sass/style.scss */
.contact-header {
  width: 100%;
  height: 90%;
  background-color: #ed4f2e;
  color: white;
  background: url("../images/bg.where.jpg") no-repeat center bottom fixed;
  background-size: cover;
}
/* line 405, ../sass/style.scss */
.contact-header h2 {
  text-align: center;
  font-size: 52px;
  font-family: Gibson-Light;
  letter-spacing: 0.03em;
  letter-spacing: 0.00em;
  padding: 90px 0;
  color: white;
}

/* line 420, ../sass/style.scss */
.reason {
  display: inline;
  float: left;
  width: 17.80702%;
  margin: 0 1.09649%;
  height: auto;
  text-align: center;
  line-height: 26px;
}
/* line 426, ../sass/style.scss */
.reason strong {
  display: block;
  margin-bottom: 8px;
}

/* line 432, ../sass/style.scss */
.icon-hexagon-bg {
  height: auto;
  margin-bottom: 30px;
  background: url("../images/svg/hexagon.svg") no-repeat center center;
}

/* line 438, ../sass/style.scss */
.icon-hexagon {
  width: 55px;
  height: 170px;
  top: -4px;
  position: relative;
}

/* line 450, ../sass/style.scss */
.video {
  margin-top: 165px;
  margin-bottom: 100px;
  width: 100%;
  background: url("../images/bg.video.jpg") no-repeat center top fixed;
  background-color: #2a3d4b;
  background-size: cover;
  text-align: center;
  color: white;
}
/* line 460, ../sass/style.scss */
.video h4 {
  font-size: 32px;
  font-family: Gibson-LightIt;
  margin-bottom: 10px;
}
/* line 466, ../sass/style.scss */
.video h3 {
  font-family: Gibson-Regular;
  letter-spacing: 0.03em;
  font-size: 38px;
  margin-bottom: 50px;
}
/* line 472, ../sass/style.scss */
.video a.button {
  font-family: Gibson-Regular;
  letter-spacing: 0.05em;
  font-size: 13px;
  border-radius: 5px;
  background: #ed4f2e;
  color: white;
  padding: 14px 26px;
  border: 1px solid #ed4f2e;
  position: relative;
  -webkit-font-smoothing: subpixel-antialiased;
}
/* line 21, ../sass/mixins.scss */
.video a.button:hover {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: none;
  color: white;
  border: 1px solid white;
}
/* line 474, ../sass/style.scss */
.video .center-v {
  position: relative;
  padding: 180px 0;
}
/* line 479, ../sass/style.scss */
.video img.play {
  margin-right: 7px;
  float: none;
  display: inline-block;
  width: 13px;
  vertical-align: -3px;
}

/* line 493, ../sass/style.scss */
.feature-screenshot {
  float: left;
  position: relative;
  width: 200px;
  left: -380px;
}

/* line 500, ../sass/style.scss */
.right-screenshot {
  float: right;
  position: relative;
  width: 200px;
  right: 300px;
  top: 140px;
}

/* line 508, ../sass/style.scss */
.feature-info {
  width: 488px;
  top: 20px;
  float: right;
  position: relative;
  text-align: left;
  line-height: 32px;
}
/* line 516, ../sass/style.scss */
.feature-info.right-info {
  width: 460px;
  top: 20px;
  float: left;
  position: relative;
  text-align: left;
  line-height: 32px;
}
/* line 524, ../sass/style.scss */
.feature-info.right-info h2 {
  padding-bottom: 35px;
}
/* line 528, ../sass/style.scss */
.feature-info h2 {
  padding-bottom: 25px;
  max-width: 600px;
  margin: 0 auto 0px;
}
/* line 534, ../sass/style.scss */
.feature-info a.button {
  font-family: Gibson-Regular;
  letter-spacing: 0.05em;
  font-size: 13px;
  border-radius: 5px;
  background: white;
  color: #ed4f2e;
  padding: 14px 26px;
  border: 1px solid #ed4f2e;
  position: relative;
  -webkit-font-smoothing: subpixel-antialiased;
  top: 50px;
}
/* line 21, ../sass/mixins.scss */
.feature-info a.button:hover {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: #2a3d4b;
  color: white;
  border: 1px solid #2a3d4b;
}
/* line 539, ../sass/style.scss */
.feature-info img.add {
  margin-right: 7px;
  float: none;
  display: inline-block;
  width: 13px;
  vertical-align: -2px;
}

/* line 548, ../sass/style.scss */
.bg-color {
  width: 100%;
  height: 800px;
  background: #f6f7f7;
  position: relative;
}

/* line 560, ../sass/style.scss */
.where, .what {
  margin-top: 150px;
  width: 50%;
  color: white;
  text-align: center;
}
/* line 566, ../sass/style.scss */
.where p, .what p {
  padding: 160px 0;
  max-width: 450px;
  max-height: 430px;
  width: 50%;
  text-align: center;
  margin: 0 auto;
  font-family: Gibson-LightIt;
  font-size: 26px;
  line-height: 36px;
}

/* line 579, ../sass/style.scss */
.where {
  background: url("../images/bg.where.jpg") no-repeat center center fixed;
  background-size: cover;
  float: left;
}

/* line 585, ../sass/style.scss */
.what {
  background: url("../images/bg.video.jpg") no-repeat center top fixed;
  background-size: cover;
  float: right;
}

/* line 596, ../sass/style.scss */
.story {
  display: inline;
  float: left;
  width: 31.14035%;
  margin: 0 1.09649%;
  height: auto;
  text-align: center;
  line-height: 26px;
  margin-bottom: 165px;
}
/* line 603, ../sass/style.scss */
.story strong {
  display: block;
  margin-bottom: 16px;
  font-size: 18px;
}
/* line 608, ../sass/style.scss */
.story strong a {
  font-size: 18px;
}
/* line 611, ../sass/style.scss */
.story img {
  margin-bottom: 40px;
}
/* line 613, ../sass/style.scss */
.story i {
  font-family: Gibson-LightIt;
  font-size: 18px;
  line-height: 26px;
  -webkit-font-smoothing: subpixel-antialiased;
  display: block;
}
/* line 621, ../sass/style.scss */
.story a {
  font-family: Gibson-Regular;
  letter-spacing: 0.03em;
  font-size: 15px;
}
/* line 626, ../sass/style.scss */
.story p {
  width: 295px;
  margin: 0 auto;
}

/* line 637, ../sass/style.scss */
.trial {
  width: 100%;
  height: 481px;
  background-color: #ed4f2e;
  text-align: center;
  color: white;
  background: url("../images/bg.footer.jpg") no-repeat center top fixed;
  background-size: cover;
  overflow-x: hidden;
  /* swiper overrides */
  /* chosen overrides */
}
/* line 647, ../sass/style.scss */
.trial .center-v {
  position: relative;
  padding: 120px 0;
}
/* line 653, ../sass/style.scss */
.trial h4 {
  font-size: 23px;
  font-family: Gibson-LightIt;
  margin-bottom: 15px;
}
/* line 660, ../sass/style.scss */
.trial h3 {
  font-size: 42px;
  font-family: Gibson-Light;
  letter-spacing: 0.03em;
  margin-bottom: 40px;
  letter-spacing: 0.01em;
}
/* line 667, ../sass/style.scss */
.trial p {
  font-family: Gibson-Regular;
  letter-spacing: 0.03em;
  color: #f3ab9e;
  font-size: 14px;
  display: block;
}
/* line 674, ../sass/style.scss */
.trial .trial-text {
  color: #d9d9d9;
  font-size: 18px;
}
/* line 678, ../sass/style.scss */
.trial .trial-link {
  color: white;
}
/* line 681, ../sass/style.scss */
.trial .trial-info {
  font-size: 16px;
}
/* line 684, ../sass/style.scss */
.trial .trial-info.warning {
  color: yellow;
}
/* line 688, ../sass/style.scss */
.trial .trial-field {
  position: relative;
  width: 520px;
  height: 67px;
  margin: 0 auto;
  /* mouse over next-button fix */
  /* Firefox < 19 */
  /* Firefox > 19 */
  /* Internet Explorer 10 */
  /* Firefox < 19 */
  /* Firefox > 19 */
  /* Internet Explorer 10 */
  /* widths */
}
/* line 695, ../sass/style.scss */
.trial .trial-field:hover .question {
  border-bottom: solid 3px #a9331f;
}
/* line 699, ../sass/style.scss */
.trial .trial-field .next-button {
  font-family: Gibson-Light;
  letter-spacing: 0.03em;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
  position: absolute;
  top: 15px;
  right: 20px;
  padding: 10px 15px;
  border: none;
  border-radius: 2px;
  background-color: #be3923;
  color: white;
  letter-spacing: 1px;
  cursor: pointer;
}
/* line 713, ../sass/style.scss */
.trial .trial-field .next-button:hover {
  background-color: #a9331f;
}
/* line 716, ../sass/style.scss */
.trial .trial-field .next-button:focus {
  outline: none;
}
/* line 720, ../sass/style.scss */
.trial .trial-field .next-button .slide-number {
  opacity: 0.5;
}
/* line 725, ../sass/style.scss */
.trial .trial-field .trial-input, .trial .trial-field .email,
.trial .trial-field .firstname, .trial .trial-field .lastname,
.trial .trial-field .chosen-container, .trial .trial-field .country,
.trial .trial-field .marketplace-name,
.trial .trial-field .password, .trial .trial-field .confirm {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 100%;
  padding: 21px 10px 21px 25px;
  color: white;
  line-height: 21px;
  font-size: 18px;
  background-color: #d44027;
  border-radius: 5px;
  border: none;
  border-bottom: solid 3px #fff;
  outline: none;
  margin-bottom: 40px;
}
/* line 741, ../sass/style.scss */
.trial .trial-field .trial-input:hover, .trial .trial-field .email:hover,
.trial .trial-field .firstname:hover, .trial .trial-field .lastname:hover,
.trial .trial-field .chosen-container:hover, .trial .trial-field .country:hover,
.trial .trial-field .marketplace-name:hover,
.trial .trial-field .password:hover, .trial .trial-field .confirm:hover {
  border-bottom: solid 3px #a9331f;
}
/* line 743, ../sass/style.scss */
.trial .trial-field .trial-input:focus, .trial .trial-field .email:focus,
.trial .trial-field .firstname:focus, .trial .trial-field .lastname:focus,
.trial .trial-field .chosen-container:focus, .trial .trial-field .country:focus,
.trial .trial-field .marketplace-name:focus,
.trial .trial-field .password:focus, .trial .trial-field .confirm:focus {
  background: white;
  border-bottom: solid 3px #a9331f;
  color: #ed4f2e;
}
/* line 758, ../sass/style.scss */
.trial .trial-field input {
  float: left;
}
/* line 762, ../sass/style.scss */
.trial .trial-field input::-webkit-input-placeholder {
  color: white;
  opacity: 0.7;
  font-family: Gibson-Light;
  letter-spacing: 0.03em;
}
/* line 768, ../sass/style.scss */
.trial .trial-field input:-moz-placeholder {
  color: white;
  opacity: 0.7;
  font-family: Gibson-Light;
  letter-spacing: 0.03em;
}
/* line 774, ../sass/style.scss */
.trial .trial-field input::-moz-placeholder {
  color: white;
  opacity: 0.7;
  font-family: Gibson-Light;
  letter-spacing: 0.03em;
}
/* line 780, ../sass/style.scss */
.trial .trial-field input:-ms-input-placeholder {
  color: white;
  opacity: 0.7;
  font-family: Gibson-Light;
  letter-spacing: 0.03em;
}
/* line 785, ../sass/style.scss */
.trial .trial-field input:focus::-webkit-input-placeholder {
  color: #ed4f2e;
}
/* line 789, ../sass/style.scss */
.trial .trial-field input:focus:-moz-placeholder {
  color: #ed4f2e;
}
/* line 793, ../sass/style.scss */
.trial .trial-field input:focus::-moz-placeholder {
  color: #ed4f2e;
}
/* line 797, ../sass/style.scss */
.trial .trial-field input:focus:-ms-input-placeholder {
  color: #ed4f2e;
}
/* line 802, ../sass/style.scss */
.trial .trial-field .firstname, .trial .trial-field .marketplace-type.chosen-container, .trial .trial-field .password {
  display: inline;
  float: left;
  width: 31.14035%;
  margin: 0 1.09649%;
}
/* line 805, ../sass/style.scss */
.trial .trial-field .lastname, .trial .trial-field .marketplace-name, .trial .trial-field .confirm {
  display: inline;
  float: left;
  width: 64.47368%;
  margin: 0 1.09649%;
  padding-right: 115px;
}
/* line 809, ../sass/style.scss */
.trial .trial-field .country.chosen-container, .trial .trial-field .marketplace-type.chosen-container {
  display: inline;
  float: left;
  width: 39.47368%;
  margin: 0 1.09649%;
}
/* line 812, ../sass/style.scss */
.trial .trial-field .language.chosen-container, .trial .trial-field .marketplace-name {
  display: inline;
  float: left;
  width: 56.14035%;
  margin: 0 1.09649%;
  padding-right: 115px;
}
/* line 818, ../sass/style.scss */
.trial .swiper-container, .trial .swiper-slide {
  width: 100%;
  height: 100px;
}
/* line 822, ../sass/style.scss */
.trial .swiper-slide {
  float: left;
  opacity: 0;
  -webkit-transition: opacity 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out;
  -o-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}
/* line 828, ../sass/style.scss */
.trial .swiper-slide-active {
  opacity: 1;
}
/* line 833, ../sass/style.scss */
.trial .chosen-container-active .chosen-single {
  font-family: Gibson-Regular;
  letter-spacing: 0.03em;
  border: none;
  box-shadow: none;
}
/* line 838, ../sass/style.scss */
.trial .chosen-container-single .chosen-single {
  font-family: Gibson-Regular;
  letter-spacing: 0.03em;
  color: white;
  line-height: 21px;
  opacity: 0.7;
  padding: 0;
  height: 100%;
  border: none;
  border-radius: none;
  background: none;
  box-shadow: none;
  text-decoration: none;
  white-space: nowrap;
}
/* line 852, ../sass/style.scss */
.trial .chosen-container-single .chosen-single div {
  right: 5px;
}
/* line 855, ../sass/style.scss */
.trial .chosen-container-single .chosen-single div b {
  background-image: url("../images/icons/arrow.down.svg");
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: 20px;
}
/* line 864, ../sass/style.scss */
.trial .chosen-container.chosen-container-active, .trial .chosen-container:hover, .trial .chosen-container:focus {
  background-color: #932c1b;
}
/* line 868, ../sass/style.scss */
.trial .chosen-container .chosen-drop {
  background-color: #932c1b;
  border: none;
}
/* line 872, ../sass/style.scss */
.trial .chosen-container .chosen-search input {
  border: none;
  color: white;
  background-color: #be3923;
  background-image: url("../images/icons/search.icon.svg");
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: 21px;
}
/* line 882, ../sass/style.scss */
.trial .chosen-container .chosen-results {
  font-family: Gibson-Light;
  letter-spacing: 0.03em;
  width: 100%;
  max-height: 135px;
  color: white;
  text-align: left;
}
/* line 889, ../sass/style.scss */
.trial .chosen-container .chosen-results li.no-results {
  color: white;
  font-size: 14px;
  background: none;
}
/* line 895, ../sass/style.scss */
.trial .chosen-container .chosen-results .highlighted {
  background: none;
  color: yellow;
}

/* line 907, ../sass/style.scss */
.footer {
  text-align: center;
  padding-bottom: 100px;
  margin-top: 40px;
  padding-right: 43px;
}
/* line 913, ../sass/style.scss */
.footer li {
  font-family: Gibson-Regular;
  letter-spacing: 0.03em;
  list-style-type: none;
  display: inline;
  font-size: 15px;
  padding-right: 45px;
}
/* line 920, ../sass/style.scss */
.footer li.footer-last {
  padding-right: 0!important;
}
/* line 923, ../sass/style.scss */
.footer a {
  -webkit-transition: color 0.1s ease-in-out;
  -moz-transition: color 0.1s ease-in-out;
  -o-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
  color: #323232;
  text-decoration: none;
}
/* line 928, ../sass/style.scss */
.footer a:hover {
  color: #ed4f2e;
}
/* line 930, ../sass/style.scss */
.footer a.icon {
  color: #ed4f2e;
}
/* line 932, ../sass/style.scss */
.footer a.icon:hover {
  color: #2a3d4b;
}
/* line 936, ../sass/style.scss */
.footer img {
  position: relative;
  width: 64px;
  height: auto;
  top: 29px;
}
/* line 943, ../sass/style.scss */
.footer img.facebook, .footer img.twitter {
  width: 22px;
  top: 5px;
}

/* line 949, ../sass/style.scss */
.copyright {
  padding: 45px 43px 45px 0;
  width: 100%;
  background-color: #f6f7f7;
}
/* line 954, ../sass/style.scss */
.copyright .main-wrapper {
  width: 844px;
}
/* line 956, ../sass/style.scss */
.copyright p {
  display: inline;
  font-family: Gibson-Regular;
  letter-spacing: 0.03em;
  font-size: 13px;
  color: #999;
}
/* line 962, ../sass/style.scss */
.copyright p a {
  color: #999;
}
/* line 964, ../sass/style.scss */
.copyright p a:hover {
  color: #2a3d4b;
}
/* line 968, ../sass/style.scss */
.copyright p.left {
  text-align: left;
}
/* line 970, ../sass/style.scss */
.copyright p.right {
  float: right;
}

/* line 979, ../sass/style.scss */
.feature {
  padding-bottom: 80px;
  padding-top: 40px;
}
/* line 983, ../sass/style.scss */
.feature p {
  font-size: 16px;
  line-height: 28px;
  -webkit-font-smoothing: subpixel-antialiased;
}
/* line 989, ../sass/style.scss */
.feature h5 {
  font-family: Gibson-Regular;
  letter-spacing: 0.03em;
  display: block;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 28px;
  letter-spacing: 0.02em;
}
/* line 998, ../sass/style.scss */
.feature.one-third {
  display: inline;
  float: left;
  width: 31.14035%;
  margin: 0 1.09649%;
  width: 225px;
  margin-right: 90px;
  margin-left: 0;
}
/* line 1000, ../sass/style.scss */
.feature.one-third-last {
  display: inline;
  float: left;
  width: 31.14035%;
  margin: 0 1.09649%;
  width: 225px;
  margin-right: 0;
  margin-left: 0;
}
/* line 1002, ../sass/style.scss */
.feature.one-half {
  display: inline;
  float: left;
  width: 47.80702%;
  margin: 0 1.09649%;
  width: 384px;
  margin-right: 90px;
  margin-left: 0;
}
/* line 1004, ../sass/style.scss */
.feature.one-half-last {
  display: inline;
  float: left;
  width: 47.80702%;
  margin: 0 1.09649%;
  width: 383px;
  margin-right: 0;
  margin-left: 0;
}
/* line 1006, ../sass/style.scss */
.feature.two-thirds {
  display: inline;
  float: left;
  width: 64.47368%;
  margin: 0 1.09649%;
  width: 540px;
  margin-right: 90px;
  margin-left: 0;
}
/* line 1008, ../sass/style.scss */
.feature.two-thirds-last {
  display: inline;
  float: left;
  width: 64.47368%;
  margin: 0 1.09649%;
  width: 550px;
  margin-right: 0;
  margin-left: 0;
}

/* line 1017, ../sass/style.scss */
.grey-background {
  width: 100%;
  background: #F6F7F7;
  height: 1100px;
}

/* line 1023, ../sass/style.scss */
.pricing-page h2 {
  margin-top: 40px;
  float: left;
}

/* line 1028, ../sass/style.scss */
.pricing-top {
  width: 1140px;
  margin: 0 auto;
  height: 450px;
}

/* line 1034, ../sass/style.scss */
.pricing-icon {
  font-family: Gibson-Regular;
  letter-spacing: 0.03em;
  width: 175px;
  float: right;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  margin-right: 55px;
  margin-top: 95px;
}
/* line 1044, ../sass/style.scss */
.pricing-icon img {
  width: 55px;
  height: auto;
  margin-bottom: 20px;
}

/* line 1051, ../sass/style.scss */
.pricing-table {
  float: left;
  margin-right: 0;
  width: 25%;
  height: 595px;
  background: white;
  text-align: center;
  -webkit-font-smoothing: subpixel-antialiased;
}
/* line 1060, ../sass/style.scss */
.pricing-table.first-table {
  border-radius: 5px 0 0 0;
  border-bottom: 1px solid #ccc;
}
/* line 1065, ../sass/style.scss */
.pricing-table.last-table {
  border-radius: 0 5px 0 0;
  border-left: 1px solid #CCC;
  border-bottom: 1px solid #ccc;
}
/* line 1071, ../sass/style.scss */
.pricing-table.table {
  border-bottom: 1px solid #ccc;
}
/* line 1073, ../sass/style.scss */
.pricing-table.featured-table {
  border: 1px solid #ed4f2e;
  margin-top: -25px;
  height: 620px;
}
/* line 1078, ../sass/style.scss */
.pricing-table.featured-table h4 {
  padding-top: 70px;
  font-size: 24px;
  padding-bottom: 24px;
}
/* line 1084, ../sass/style.scss */
.pricing-table.featured-table h4, .pricing-table.featured-table .superscript, .pricing-table.featured-table .price, .pricing-table.featured-table .month {
  color: #ed4f2e;
}
/* line 1086, ../sass/style.scss */
.pricing-table.featured-table img {
  position: relative;
  left: 90px;
  width: 30px;
  height: auto;
  margin-bottom: -42px;
}
/* line 1095, ../sass/style.scss */
.pricing-table h4 {
  font-family: Gibson-Regular;
  letter-spacing: 0.03em;
  font-size: 23px;
  padding-top: 45px;
  padding-bottom: 25px;
}
/* line 1102, ../sass/style.scss */
.pricing-table .price-container {
  height: 72px;
  overflow-y: hidden;
}
/* line 1106, ../sass/style.scss */
.pricing-table .superscript {
  font-family: Gibson-Light;
  letter-spacing: 0.03em;
  font-size: 42px;
  letter-spacing: 0;
  vertical-align: top;
}
/* line 1113, ../sass/style.scss */
.pricing-table .hundred {
  vertical-align: middle;
}
/* line 1117, ../sass/style.scss */
.pricing-table .pro .hundred {
  margin-right: -8px;
}
/* line 1121, ../sass/style.scss */
.pricing-table .price {
  font-family: Gibson-Light;
  letter-spacing: 0.03em;
  font-size: 72px;
  letter-spacing: 0em;
}
/* line 1127, ../sass/style.scss */
.pricing-table .month {
  font-size: 16px;
  vertical-align: bottom;
  line-height: 50px;
}
/* line 1134, ../sass/style.scss */
.pricing-table p.billing-cycle {
  width: 185px;
  margin: 15px auto 25px;
  font-size: 14px;
  color: #666666;
  padding: 15px 0;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}
/* line 1144, ../sass/style.scss */
.pricing-table li {
  list-style-type: none;
  font-size: 16px;
  line-height: 30px;
}
/* line 1149, ../sass/style.scss */
.pricing-table li.last-band {
  padding-bottom: 76px;
}
/* line 1151, ../sass/style.scss */
.pricing-table li.last {
  padding-bottom: 45px;
}
/* line 1154, ../sass/style.scss */
.pricing-table a.switch-price {
  display: block;
  margin-top: 40px;
  font-size: 14px;
  margin: 0 auto;
  width: 185px;
  margin-top: 36px;
  line-height: 21px;
}
/* line 1163, ../sass/style.scss */
.pricing-table a.switch-monthly {
  color: #b3b3b3;
}
/* line 1166, ../sass/style.scss */
.pricing-table a.switch-monthly:hover {
  color: #666;
}
/* line 1169, ../sass/style.scss */
.pricing-table a.switch-biannually {
  color: #ed4f2e;
}
/* line 1172, ../sass/style.scss */
.pricing-table a.switch-biannually:hover {
  color: #2a3d4b;
}

/* line 1176, ../sass/style.scss */
.enterprise-table {
  background: white;
  border-radius: 0 0 5px 5px;
  float: left;
  width: 100%;
  padding: 35px 0;
  margin-bottom: 50px;
}
/* line 1184, ../sass/style.scss */
.enterprise-table h4 {
  font-family: Gibson-Regular;
  letter-spacing: 0.03em;
  font-size: 21px;
  margin-left: 40px;
  float: left;
}
/* line 1191, ../sass/style.scss */
.enterprise-table p {
  font-size: 16px;
  -webkit-font-smoothing: subpixel-antialiased;
  margin-top: 4px;
  padding-left: 30px;
  float: left;
}
/* line 1199, ../sass/style.scss */
.enterprise-table a {
  padding-left: 20px;
}

/* line 1202, ../sass/style.scss */
p.footnotes {
  font-size: 12px;
  line-height: 24px;
  margin-left: 40px;
}

/* line 1208, ../sass/style.scss */
hr.pricing {
  margin: 60px 40px;
  opacity: 0.3;
}

/* line 1213, ../sass/style.scss */
p.pricing-faq {
  display: inline;
  float: left;
  width: 31.14035%;
  margin: 0 1.09649%;
  width: 300px;
  font-size: 16px;
  line-height: 24px;
}
/* line 1219, ../sass/style.scss */
p.pricing-faq strong {
  display: block;
  margin-bottom: 15px;
}
/* line 1224, ../sass/style.scss */
p.pricing-faq.first {
  margin-left: 40px!important;
}
/* line 1226, ../sass/style.scss */
p.pricing-faq.second, p.pricing-faq.third {
  margin-left: 70px;
}

/* line 1236, ../sass/style.scss */
.stories {
  width: 100%;
  height: 400px;
  background-color: #2a3d4b;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
/* line 1242, ../sass/style.scss */
.stories:hover {
  box-shadow: 0px 400px rgba(237, 79, 46, 0.9) inset;
  cursor: hand;
}

/* line 1245, ../sass/style.scss */
.thequiver {
  background: url("../images/bg.thequiver.jpg") no-repeat center center;
}

/* line 1247, ../sass/style.scss */
.maggieskidmarket {
  background: url("../images/bg.maggieskidmarket.jpg") no-repeat center center;
}

/* line 1249, ../sass/style.scss */
.casaguau {
  background: url("../images/bg.casaguau.jpg") no-repeat center center;
}

/* line 1251, ../sass/style.scss */
.thequiver, .maggieskidmarket, .casaguau {
  background-size: cover;
  box-shadow: 0px 400px rgba(42, 61, 75, 0.3) inset;
  width: 100%;
  height: 400px;
}
/* line 1257, ../sass/style.scss */
.thequiver h2, .maggieskidmarket h2, .casaguau h2 {
  padding-top: 150px;
  padding-bottom: 25px;
  color: white;
  font-size: 72px;
  text-align: center;
  letter-spacing: -0.02em;
}
/* line 1266, ../sass/style.scss */
.thequiver h5, .maggieskidmarket h5, .casaguau h5 {
  text-align: center;
  color: white;
  font-size: 24px;
}

/* line 1275, ../sass/style.scss */
.story-page a {
  font-family: Gibson-Regular;
  letter-spacing: 0.03em;
  font-size: 16px;
}
/* line 1280, ../sass/style.scss */
.story-page p.story-ingress {
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 130px;
}
/* line 1288, ../sass/style.scss */
.story-page p.quote {
  display: inline;
  float: left;
  width: 6.14035%;
  margin: 0 1.09649%;
  font-family: Gibson-LightIt;
  padding-top: 100px;
  width: 220px;
  font-size: 26px;
  line-height: 36px;
  text-align: right;
  margin-left: 30px;
  margin-right: 120px;
}
/* line 1300, ../sass/style.scss */
.story-page .story-content {
  display: inline;
  float: left;
  width: 31.14035%;
  margin: 0 1.09649%;
  padding-top: 105px;
  max-width: 650px;
  width: 95%;
}
/* line 1306, ../sass/style.scss */
.story-page .story-content p {
  padding-bottom: 30px;
  font-size: 19px;
  line-height: 30px;
}
/* line 1312, ../sass/style.scss */
.story-page .story-content h4 {
  font-family: Gibson-Regular;
  letter-spacing: 0.03em;
  padding-top: 15px;
  padding-bottom: 30px;
  font-size: 21px;
  line-height: 30px;
}

/* line 1322, ../sass/style.scss */
img.story-left, img.story-right {
  width: 50%;
  height: auto;
  float: left;
}

/* line 1328, ../sass/style.scss */
.maggieskidmarket-banner, .casaguau-banner, .thequiver-banner {
  margin-top: 150px;
  width: 50%;
  color: white;
  text-align: center;
  box-shadow: 0px 400px rgba(42, 61, 75, 0.3) inset;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
/* line 1336, ../sass/style.scss */
.maggieskidmarket-banner h3, .casaguau-banner h3, .thequiver-banner h3 {
  font-size: 42px;
  font-family: Gibson-Light;
  letter-spacing: 0.03em;
  margin-top: 160px;
  letter-spacing: 0em;
  margin-bottom: 15px;
}
/* line 1344, ../sass/style.scss */
.maggieskidmarket-banner p, .casaguau-banner p, .thequiver-banner p {
  font-family: Gibson-Light;
  letter-spacing: 0.03em;
  margin: 0 auto;
  font-size: 21px;
  margin-bottom: 160px;
}
/* line 1351, ../sass/style.scss */
.maggieskidmarket-banner.left, .casaguau-banner.left, .thequiver-banner.left {
  float: left;
}
/* line 1352, ../sass/style.scss */
.maggieskidmarket-banner.right, .casaguau-banner.right, .thequiver-banner.right {
  float: right;
}
/* line 1354, ../sass/style.scss */
.maggieskidmarket-banner:hover, .casaguau-banner:hover, .thequiver-banner:hover {
  box-shadow: 0px 400px rgba(237, 79, 46, 0.9) inset;
  cursor: hand;
}

/* line 1357, ../sass/style.scss */
.maggieskidmarket-banner {
  background: url("../images/bg.maggieskidmarket.jpg") no-repeat center center;
  background-size: cover;
}

/* line 1362, ../sass/style.scss */
.casaguau-banner {
  background: url("../images/bg.casaguau.jpg") no-repeat center center;
  background-size: cover;
}

/* line 1367, ../sass/style.scss */
.thequiver-banner {
  background: url("../images/bg.thequiver.jpg") no-repeat center center;
  background-size: cover;
}

/* line 1379, ../sass/style.scss */
.contact {
  display: hidden;
  z-index: 1;
  position: relative;
  width: 100%;
  height: 93%;
  color: white;
  background-color: rgba(237, 79, 46, 0.9);
  background-blend-mode: multiply;
}
/* line 1389, ../sass/style.scss */
.contact img.castle {
  margin-bottom: 40px;
  float: none;
  display: inline-block;
  width: 60px;
  vertical-align: -1px;
}
/* line 1397, ../sass/style.scss */
.contact p {
  font-family: Gibson-Regular;
  letter-spacing: 0.03em;
  font-size: 17px;
  line-height: 28px;
  margin-bottom: 28px;
  letter-spacing: 0.04em;
}
/* line 1405, ../sass/style.scss */
.contact a {
  color: #2a3d4b;
}
/* line 1407, ../sass/style.scss */
.contact a:hover {
  color: #000;
}
/* line 1410, ../sass/style.scss */
.contact p.osoite {
  font-size: 13px;
  letter-spacing: 4px;
}

/* line 1417, ../sass/style.scss */
.contact-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 450px;
  text-align: center;
}

/* line 1428, ../sass/style.scss */
#googlemaps {
  height: 93%;
  width: 100%;
  position: absolute;
  top: 105px;
  left: 0;
  z-index: 0;
}

/* line 1448, ../sass/style.scss */
.main-wrapper.about-us {
  margin: 110px auto;
}
/* line 1451, ../sass/style.scss */
.main-wrapper.about-us p, .main-wrapper.about-us h4 {
  width: 600px;
  margin: 0 auto;
}
/* line 1456, ../sass/style.scss */
.main-wrapper.about-us p {
  font-size: 19px;
  line-height: 32px;
}
/* line 1461, ../sass/style.scss */
.main-wrapper.about-us h4 {
  font-family: Gibson-Regular;
  letter-spacing: 0.03em;
  font-size: 24px;
  line-height: 36px;
  margin: 90px auto 30px;
}
/* line 1468, ../sass/style.scss */
.main-wrapper.about-us img {
  margin: 110px auto 20px;
  width: 100%;
}

/* line 1472, ../sass/style.scss */
.about-cover {
  position: relative;
  width: 100%;
  height: 100%;
  background: #ed4f2e;
  color: #ed4f2e;
  background: url("../images/cover.aboutus.jpg") no-repeat bottom center;
  background-size: cover;
  text-align: center;
}
/* line 1482, ../sass/style.scss */
.about-cover h6 {
  width: 138px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 30px;
  margin-bottom: 40px;
}
/* line 1490, ../sass/style.scss */
.about-cover a.button.ghost {
  font-family: Gibson-Light!important;
  font-family: Gibson-Regular;
  letter-spacing: 0.05em;
  font-size: 13px;
  border-radius: 5px;
  background: #ed4f2e;
  color: white;
  padding: 14px 26px;
  border: 1px solid none;
  position: relative;
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: 15px;
  letter-spacing: 0.07em;
  padding: 16px 26px;
}
/* line 21, ../sass/mixins.scss */
.about-cover a.button.ghost:hover {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: #2a3d4b;
  color: white;
  border: 1px solid #2a3d4b;
}
/* line 1498, ../sass/style.scss */
.about-cover p {
  color: #323232;
  font-family: Gibson-Light;
  letter-spacing: 0.03em;
  font-size: 24px;
  line-height: 42px;
  margin-bottom: 55px;
  letter-spacing: 0.02em;
  max-width: 780px;
  margin: 0 auto 50px;
  width: 90%;
}

/* line 1511, ../sass/style.scss */
.about-cover-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 65%;
  max-width: 1020px;
  width: 90%;
  text-align: center;
}

/* line 1530, ../sass/style.scss */
.menu-cover {
  position: relative;
  width: 100%;
  height: 100%;
  background: #ed4f2e;
  color: #ed4f2e;
  background-size: cover;
  text-align: center;
}
/* line 1539, ../sass/style.scss */
.menu-cover li a {
  color: white;
  font-size: 48px;
  line-height: 80px;
}
/* line 1544, ../sass/style.scss */
.menu-cover li a:hover {
  color: #2a3d4b;
}
/* line 1548, ../sass/style.scss */
.menu-cover .logo {
  position: relative;
  margin-left: 40px;
  top: 40px;
}
/* line 1554, ../sass/style.scss */
.menu-cover .mobile-menu-close {
  display: inline-block;
  font-size: 14px;
  font-family: Gibson-Regular;
  letter-spacing: 0.03em;
  position: absolute;
  right: 40px;
  top: 40px;
}
/* line 1562, ../sass/style.scss */
.menu-cover .mobile-menu-close a {
  color: white;
}
/* line 1565, ../sass/style.scss */
.menu-cover .mobile-menu-close a:hover {
  color: #323232;
}
/* line 1570, ../sass/style.scss */
.menu-cover .mobile-menu-close .menu-close {
  width: 10px;
  margin-right: 7px;
}

/* line 1577, ../sass/style.scss */
.button-bottom {
  position: absolute;
  bottom: 7%;
  left: 50%;
}
/* line 1582, ../sass/style.scss */
.button-bottom a.button.ghost {
  position: relative;
  left: -50%;
  font-family: Gibson-Regular!important;
  font-family: Gibson-Regular;
  letter-spacing: 0.05em;
  font-size: 13px;
  border-radius: 5px;
  background: #ed4f2e;
  color: white;
  padding: 14px 26px;
  border: 1px solid white;
  position: relative;
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: 14px;
  letter-spacing: 0.07em;
  padding: 14px 20px;
}
/* line 21, ../sass/mixins.scss */
.button-bottom a.button.ghost:hover {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: #2a3d4b;
  color: white;
  border: 1px solid #2a3d4b;
}

/* line 1593, ../sass/style.scss */
.menu-cover-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 600px;
  text-align: center;
}

@media screen and (min-width: 1920px) {
  /* line 1611, ../sass/style.scss */
  .hero-text {
    left: 15%;
  }
}
@media screen and (max-width: 1150px) {
  /* line 1617, ../sass/style.scss */
  .main-navigation {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    height: 75px;
    padding: 25px 0;
  }
  /* line 1622, ../sass/style.scss */
  .main-navigation li {
    padding-right: 30px;
    font-size: 14px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  /* line 1628, ../sass/style.scss */
  .main-navigation .get-started {
    padding: 12px 19px;
    font-size: 12px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  /* line 1634, ../sass/style.scss */
  .main-navigation .logo {
    margin-left: 25px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 140px;
  }
  /* line 1636, ../sass/style.scss */
  .main-navigation .menu-items {
    margin-right: 25px;
    margin-top: -17px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
}
@media screen and (max-width: 920px) {
  /* line 1642, ../sass/style.scss */
  .main-navigation li {
    display: none;
  }

  /* line 1646, ../sass/style.scss */
  .mobile-menu {
    display: inline-block;
    font-size: 14px;
    font-family: Gibson-Regular;
    letter-spacing: 0.03em;
    position: absolute;
    right: 150px;
    top: 30px;
  }
  /* line 1654, ../sass/style.scss */
  .mobile-menu a {
    color: #ed4f2e;
  }
  /* line 1655, ../sass/style.scss */
  .mobile-menu a:hover {
    color: #323232;
  }
  /* line 1658, ../sass/style.scss */
  .mobile-menu .hamburger {
    width: 15px;
    margin-right: 7px;
  }
}
@media screen and (max-width: 768px) {
  /* line 1667, ../sass/style.scss */
  .main-wrapper {
    max-width: 90%;
  }

  /* line 1669, ../sass/style.scss */
  #maincolumn, #sidebar {
    display: inline;
    float: left;
    width: 97.80702%;
    margin: 0 1.09649%;
    margin-bottom: 1em;
  }

  /* line 1674, ../sass/style.scss */
  .reason {
    display: inline;
    float: left;
    width: 97.80702%;
    margin: 0 1.09649%;
  }
}
@media screen and (max-width: 470px) {
  /* line 1679, ../sass/style.scss */
  .main-navigation {
    height: 50px;
    padding: 16px 0;
  }
  /* line 1683, ../sass/style.scss */
  .main-navigation .get-started {
    display: none;
  }
  /* line 1687, ../sass/style.scss */
  .main-navigation .logo {
    width: 109px;
    margin-left: 15px;
  }

  /* line 1692, ../sass/style.scss */
  .mobile-menu {
    right: 15px;
    top: 18px;
  }

  /* line 1696, ../sass/style.scss */
  .menu-cover li a {
    font-size: 24px;
    line-height: 40px;
  }
  /* line 1701, ../sass/style.scss */
  .menu-cover .logo {
    width: 109px;
    margin-left: 15px;
    top: 20px;
  }
  /* line 1707, ../sass/style.scss */
  .menu-cover .mobile-menu-close {
    right: 15px;
    top: 23px;
  }
  /* line 1712, ../sass/style.scss */
  .menu-cover .menu-cover-text {
    height: 300px;
  }

  /* line 1720, ../sass/style.scss */
  .button-bottom a.button.ghost {
    font-size: 12px;
    padding: 10px 16px;
  }

  /* line 1726, ../sass/style.scss */
  .mobile-menu {
    right: 15px;
    top: 18px;
  }
}
