/* line 13, ../sass/variables.scss */
.Gibson-Light {
  font-weight: normal;
  font-style: normal;
  font-family: Gibson-Light;
}

/* line 14, ../sass/variables.scss */
.Gibson-LightIt {
  font-weight: normal;
  font-style: normal;
  font-family: Gibson-LightIt;
}

/* line 15, ../sass/variables.scss */
.Gibson-Regular {
  font-weight: normal;
  font-style: normal;
  font-family: Gibson-Regular;
}

/* line 16, ../sass/variables.scss */
.Gibson-Italic {
  font-weight: normal;
  font-style: normal;
  font-family: Gibson-Italic;
}

/* line 17, ../sass/variables.scss */
.Gibson-SemiBold {
  font-weight: normal;
  font-style: normal;
  font-family: Gibson-SemiBold;
}

/* line 18, ../sass/variables.scss */
.Gibson-SemiboldIt {
  font-weight: normal;
  font-style: normal;
  font-family: Gibson-SemiboldIt;
}
