@import '../css/reset.css';

@import 'vendor.scss';
@import 'semantic-grid.scss';
@import 'variables.scss';
@import 'mixins.scss';
@import '../fonts/MyFontsWebfontsKit.css';

body, html { height: 100%; }

body {
  @include Gibson-Light;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  word-wrap: break-word;
  word-break: break-word;
  overflow-y: scroll;
  overflow-x: hidden;
}

strong { @include Gibson-Regular; }

.clear { clear: both; }

a {
  @include transition(color, 0.1s, ease-in-out);
  text-decoration: none;
  color: $orange;

  &:hover { color: $blue; }
}


////////////////
// NAVIGATION //
////////////////
.main-navigation {
  top: 0px;
  z-index: 99;
  height: 105px;
  width: 100%;
  background: rgba(255, 255, 255, 0.98);
  box-shadow: 0 2px 3px rgba(0,0,0,.05);
  padding: 35px 0;


  .logo {
    position: relative;
    margin-left: 50px;
  }

  .menu-items {
    float: right;
    margin-right: 50px;
    margin-top: -20px;
  }

  li {
    @include Gibson-Regular;
    list-style-type: none;
    float: left;
    font-size: 15px;
    padding-right: 45px;
  }

  a {
    @include transition(color, 0.1s, ease-in-out);
    color: $grey;
    text-decoration: none;

    &:hover { color: $orange; }
  }

  .login {
    @include button($orange, $white, $orange, $white, $blue, $blue);
    top: -1px;
    margin-right: -5px;
    border-radius: 5px 0px 0px 5px;
  }

  .get-started {
    @include button($white, $orange, $orange, $white, $blue, $blue);
    top: -1px;
  }

}

.sidenav {
  margin-top: 60px;
  width: 180px;
  float: left;
  position: relative;
  margin-right: 80px;
  opacity: 0.5;
  @include transition(all, 0.5s, ease-in-out);

  &:hover { opacity: 1.0; }

  li {
    list-style-type: none;
    @include Gibson-Regular;
    font-size: 16px;
    margin-bottom: 15px;
    letter-spacing: 0.01em;
    line-height: 26px;

    a { color: $grey;
      &:hover { color: $orange; }
    }

    &.current a {
      border-left: 3px solid $orange;
      padding-left: 20px;
      margin-left: -23px;
      color: $orange;
    }
  }
}

/////////////////
// TYPOGRAPHY //
////////////////

h1 {
  font-size: 64px;
  line-height: 74px;
  margin-bottom: 30px;
  letter-spacing: -0.01em;
}

h2 {
  @include Gibson-Light;
  color: $grey;
  font-size: 46px;
  line-height: 60px;
  letter-spacing: 0.00em;

  &.centered {
    padding-bottom: 50px;
    max-width: 600px;
    text-align: center;
    margin: 0 auto 40px;
  }
}

h3 {
  font-size: 24px;
  @include Gibson-Regular;
  margin-bottom: 20px;

}

.subpage-content h4 {
  font-size: 18px;
  @include Gibson-Regular;
  margin-bottom: 10px;
}


h6 {
  @include Gibson-Light;
  color: $grey;
  font-size: 13px;
  letter-spacing: 8px;
  text-transform: uppercase;
  border-bottom: 1px solid #CCC;

  &.reasons, &.stories-title {
    text-align: center;
    margin: 130px auto 65px;
    padding-bottom: 30px;
  }

  &.marketplace-design, &.track-manage {
    margin: 100px 0 30px;
    padding-bottom: 15px;
  }

  &.reasons { width: 400px; } // Onko tahan parempaa ratkaisua?

  &.stories-title, &.story-page { width: 225px; } // Onko tahan parempaa ratkaisua?

  &.marketplace-design { width: 280px; } // Onko tahan parempaa ratkaisua?

  &.track-manage { width: 220px; } // Onko tahan parempaa ratkaisua?

  &.payments { width: 124px; margin: 150px 0 40px; padding-bottom: 15px; } // Onko tahan parempaa ratkaisua?

  &.story-page { text-align: center; margin: 100px auto 50px; padding-bottom: 30px;}

}

.feature h6 {
  @include Gibson-Regular;
  font-size: 11px;
  letter-spacing: 5px!important;
  margin-bottom: 25px;
  padding-bottom: 15px;
}




////////////
// LAYOUT //
////////////

.main-wrapper {
  @include Gibson-Light;
  max-width: 1140px;
  margin: 0 auto;

  &.pricing {
    position: relative;
    top: -120px;
  }
}

.logo {
  width: 165px;
  height: auto;
}

a.button { @include button($white, $orange, $orange, $white, $blue, $blue); }

.subpage-content {
  width: 865px;
  float: left;
  height: auto;
  margin-top: 28px;
  margin-bottom: 65px;

  &.text-only {
    margin-top: 58px;
    width: 700px;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 65px;

    p { margin-bottom: 26px; }

    p.updated {
      font-size: 14px;
      color: #999;
      margin-bottom: 20px;
    }

    p.important-privacy {
      font-size: 30px;
      line-height: 42px;
      font-family:  Gibson-LightIt;
    }

    ol { counter-reset: item; }

    ol li {
      display: block;
      position: relative;
    }

    ol li:before {
      content: counters(item, ".")".";
      counter-increment: item;
      position: absolute;
      margin-right: 100%;
      right: 10px; /* space between number and text */
    }
  }
}



//////////////////////
// HOMEPAGE / HERO //
/////////////////////

.hero .logo {
  position: relative;
  top: 0;
  margin-bottom: 100px;
}

.hero {
  position: relative;
  width: 100%;
  height: 100%;
  background: $orange;
  color: $white;
  background: url("../images/bg.hero.jpg") no-repeat center center fixed;
  background-size: cover;

  a.button.ghost {
    font-family: Gibson-Light!important;
    @include button($white,none,$white,$white,$blue,$blue);
    font-size: 15px;
    letter-spacing: 0.07em;
    padding: 16px 26px;
  }

  a.button.white {
    @include button($orange,$white,$white,$white,$blue,$blue);
    font-size: 15px;
    letter-spacing: 0.03em;
    margin-right: 30px;
    padding: 16px 26px;
  }

  img.crown {
    margin-right: 7px;
    float: none;
    display: inline-block;
    width: 15px;
    vertical-align: -1px;
  }

  a.login {
    color: $white;
    font-size: 13px;
    opacity: 0.7;
    @include transition(all, 0.1s, ease-in-out);

    &:hover img.arrow { margin-left: 9px; }

    &:hover { opacity: 1.0;}

    img.arrow {
      margin-left: 3px;
      float: none;
      display: inline-block;
      width: 15px;
      vertical-align: -3px;
      @include transition(all, 0.1s, ease-in-out);
    }
  }

  p {
    @include Gibson-Regular;
    font-size: 19px;
    line-height: 36px;
    margin-bottom: 55px;
    letter-spacing: 0.02em;
  }
}

.hero-text {
  position:absolute;
  top:0;
  bottom:0;
  left:10%;
  right:0;
  margin:auto;
  height: 600px;

  img { float: right; }
}

.hero-text-container {
  max-width: 700px;
  float: left;
}


////////////////////////////////
// SUBPAGE / HEADERS: PRICING //
///////////////////////////////


.subpage-header, .pricing-page {
  width: 100%;
  background-color: $orange;
  color: $white;
  background: url("../images/bg.where.jpg") no-repeat center bottom fixed;
  background-size: cover;

  h2 {
    font-size: 52px;
    @include Gibson-Light;
    letter-spacing: 0.00em;
    padding: 90px 0;
    color: $white;
  }

}

.subpage-header h2 {
  text-align: center;
  margin-bottom: 40px;

}

.contact-header {
  width: 100%;
  height: 90%;
  background-color: $orange;
  color: $white;
  background: url("../images/bg.where.jpg") no-repeat center bottom fixed;
  background-size: cover;

  h2 {
    text-align: center;
    font-size: 52px;
    @include Gibson-Light;
    letter-spacing: 0.00em;
    padding: 90px 0;
    color: $white;
  }
}


////////////////////////////////////////////
// HOMEPAGE / 5 REASONS TO USE SHARETRIBE //
///////////////////////////////////////////

.reason {
  @include column(2.4);
  height: auto;
  text-align: center;
  line-height: 26px;

  strong {
    display: block;
    margin-bottom: 8px;
  }
}

.icon-hexagon-bg {
  height: auto;
  margin-bottom: 30px;
  background: url("../images/svg/hexagon.svg") no-repeat center center;
}

.icon-hexagon {
  width: 55px;
  height: 170px;
  top: -4px;
  position: relative;
}


//////////////////////
// HOMEPAGE / VIDEO //
/////////////////////

.video {
  margin-top: 165px;
  margin-bottom: 100px;
  width: 100%;
  background: url('../images/bg.video.jpg') no-repeat center top fixed;
  background-color: $blue;
  background-size: cover;
  text-align: center;
  color: $white;

  h4 {
    font-size: 32px;
    font-family: Gibson-LightIt;
    margin-bottom: 10px;
  }

  h3 {
    @include Gibson-Regular;
    font-size: 38px;
    margin-bottom: 50px;
  }

  a.button { @include button($white, $orange, $orange, $white, none, $white); }

  .center-v {
    position: relative;
    padding: 180px 0;
  }

  img.play {
    margin-right: 7px;
    float: none;
    display: inline-block;
    width: 13px;
    vertical-align: -3px;
  }
}


/////////////////////////
// HOMEPAGE / FEATURES //
////////////////////////

.feature-screenshot {
  float: left;
  position: relative;
  width: 200px;
  left: -380px;
}

.right-screenshot {
  float: right;
  position: relative;
  width: 200px;
  right: 300px;
  top: 140px;
}

.feature-info {
  width: 488px;
  top: 20px;
  float: right;
  position: relative;
  text-align: left;
  line-height: 32px;

  &.right-info {
    width: 460px;
    top: 20px;
    float: left;
    position: relative;
    text-align: left;
    line-height: 32px;

    h2 { padding-bottom: 35px; }

  }

  h2 {
    padding-bottom: 25px;
    max-width: 600px;
    margin: 0 auto 0px;
  }

  a.button {
    @include button($orange, $white, $orange, $white, $blue, $blue);
    top: 50px;
  }

  img.add {
    margin-right: 7px;
    float: none;
    display: inline-block;
    width: 13px;
    vertical-align: -2px;
  }
}

.bg-color {
  width: 100%;
  height: 800px;
  background: $bg-grey;
  position: relative;
}


/////////////////////////////
// HOMEPAGE / WHERE & WHAT //
////////////////////////////

.where, .what {
  margin-top: 150px;
  width: 50%;
  color: $white;
  text-align: center;

  p {
    padding: 160px 0;
    max-width: 450px;
    max-height: 430px;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    font-family: Gibson-LightIt;
    font-size: 26px;
    line-height: 36px;
  }
}

.where {
  background: url("../images/bg.where.jpg") no-repeat center center fixed;
  background-size: cover;
  float: left;
}

.what {
  background: url('../images/bg.video.jpg') no-repeat center top fixed;
  background-size: cover;
  float: right;
}


////////////////////////////////
// HOMEPAGE / SUCCESS STORIES //
///////////////////////////////

.story {
  @include column(4);
  height: auto;
  text-align: center;
  line-height: 26px;
  margin-bottom: 165px;

  strong {
    display: block;
    margin-bottom: 16px;
    font-size: 18px;

    a { font-size: 18px; }
  }

  img { margin-bottom: 40px; }

  i {
    font-family: Gibson-LightIt;
    font-size: 18px;
    line-height: 26px;
    -webkit-font-smoothing: subpixel-antialiased;
    display: block;
  }

  a {
    @include Gibson-Regular;
    font-size: 15px;
  }

  p {
    width: 290px;
    margin: 0 auto;
  }
}


////////////
// TRIAL //
///////////

.trial {
  width: 100%;
  background-color: $orange;
  text-align: center;
  color: $white;
  background: url("../images/bg.footer.jpg") no-repeat center top fixed;
  background-size: cover;

  .center-v {
    position: relative;
    padding: 120px 0;
  }


  h4 {
    font-size: 23px;
    font-family: Gibson-LightIt;
    margin-bottom: 15px;

  }

  h3 {
    font-size: 42px;
    @include Gibson-Light;
    margin-bottom: 40px;
    letter-spacing: 0.01em;
  }

  p {
    @include Gibson-Regular;
    color: #f3ab9e;
    font-size: 14px;
    display: block;
  }

  input {
    @include transition(all, 0.2s, ease-in-out);
    width: 470px;
    height: 67px;
    padding: 10px 10px 10px 25px;
    color: $white;

    font-size: 18px;
    background-color: #d44027;

    border-radius: 5px;
    border: none;
    border-bottom: solid 3px #fff;
    outline: none;
    margin-bottom: 40px;

    &:hover { border-bottom: solid 3px darken(#d44027, 10%); }

    &:focus {
      background: $white;
      border-bottom: solid 3px darken(#d44027, 10%);
      color: $orange;
    }
  }
}

::-webkit-input-placeholder {
   color: $white;
   opacity: 0.7;
   @include Gibson-Light;
}


////////////
// FOOTER //
///////////

.footer {
  text-align: center;
  padding-bottom: 100px;
  margin-top: 40px;
  padding-right: 43px;

  li {
    @include Gibson-Regular;
    list-style-type: none;
    display: inline;
    font-size: 15px;
    padding-right: 45px;

    &.footer-last { padding-right: 0!important; }
  }

  a {
    @include transition(color, 0.1s, ease-in-out);
    color: $grey;
    text-decoration: none;

    &:hover { color: $orange; }

    &.icon { color: $orange;

      &:hover { color: $blue; }
    }
  }

  img {
    position: relative;
    width: 64px;
    height: auto;
    top: 29px;
  }

  img.facebook, img.twitter {
    width: 22px;
    top: 5px;
  }
}

.copyright {
  padding: 45px 43px 45px 0;
  width: 100%;
  background-color: $bg-grey;

  .main-wrapper { width: 844px; }

  p {
    display: inline;
    @include Gibson-Regular;
    font-size: 13px;
    color: #999;

    a { color: #999;

      &:hover { color: $blue; }
    }
  }

  p.left { text-align: left; }

  p.right { float: right; }
}



////////////////////////
// SUBPAGE / FEATURES //
///////////////////////

.feature {
  padding-bottom: 80px;
  padding-top: 40px;

  p {
    font-size: 16px;
    line-height: 28px;
    -webkit-font-smoothing: subpixel-antialiased;
  }

  h5 {
    @include Gibson-Regular;
    display: block;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 28px;
    letter-spacing: 0.02em;
  }

  &.one-third { @include column(4); width: 225px; margin-right: 90px; margin-left: 0; }

  &.one-third-last { @include column(4); width: 225px; margin-right: 0; margin-left: 0; }

  &.one-half { @include column(6); width: 384px; margin-right: 90px; margin-left: 0; }

  &.one-half-last { @include column(6); width: 383px; margin-right: 0; margin-left: 0; }

  &.two-thirds { @include column(8); width: 540px; margin-right: 90px; margin-left: 0; }

  &.two-thirds-last { @include column(8); width: 550px; margin-right: 0; margin-left: 0; }
}



////////////////////////
// SUBPAGES / PRICING //
////////////////////////

.grey-background {
  width: 100%;
  background: #F6F7F7;
  height: 1100px;
}

.pricing-page h2 {
  margin-top: 40px;
  float: left;
}

.pricing-top {
  width: 1140px;
  margin: 0 auto;
  height: 450px;
}

.pricing-icon {
  @include Gibson-Regular;
  width: 175px;
  float: right;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  margin-right: 55px;
  margin-top: 95px;

  img {
    width: 55px;
    height: auto;
    margin-bottom: 20px;
  }
}

.pricing-table {
  float: left;
  margin-right: 0;
  width: 25%;
  height: 595px;
  background: $white;
  text-align: center;
  -webkit-font-smoothing: subpixel-antialiased;

  &.first-table {
    border-radius: 5px 0 0 0;
    border-bottom: 1px solid #ccc;
  }

  &.last-table {
    border-radius: 0 5px 0 0;
    border-left: 1px solid #CCC;
    border-bottom: 1px solid #ccc;
  }

  &.table { border-bottom: 1px solid #ccc; }

  &.featured-table {
    border: 1px solid $orange;
    margin-top: -25px;
    height: 620px;

    h4 {
      padding-top: 70px;
      font-size: 24px;
      padding-bottom: 24px;
    }

    h4, .superscript, .price, .month { color: $orange; }

    img {
      position: relative;
      left: 90px;
      width: 30px;
      height: auto;
      margin-bottom: -42px;
    }
  }

  h4 {
    @include Gibson-Regular;
    font-size: 23px;
    padding-top: 45px;
    padding-bottom: 25px;
  }

  .superscript {
    @include Gibson-Light;
    position: relative;
    font-size: 42px;
    top: -23px;
    left: 3px;
  }

  .price {
    @include Gibson-Light;
    font-size: 72px;
    letter-spacing: 0em;
  }

  .month { font-size: 16px; }

  p.billing-cycle {
    width: 185px;
    margin: 15px auto 25px;
    font-size: 14px;
    color: #666666;
    padding: 15px 0;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
  }

  li {
    list-style-type: none;
    font-size: 16px;
    line-height: 30px;

    &.last-band { padding-bottom: 76px; }

    &.last { padding-bottom: 45px; }
  }

  a.switch-monthly {
    display: block;
    margin-top: 40px;
    font-size: 14px;
    color: #b3b3b3;

    &:hover { color: #666; }
  }

  a.switch-biannually {
    margin: 0 auto;
    width: 185px;
    display: block;
    margin-top: 36px;
    font-size: 14px;
    line-height: 21px;
    color: $orange;

    &:hover { color: $blue; }
  }
}

.enterprise-table {
  background: $white;
  border-radius: 0 0 5px 5px;
  float: left;
  width: 100%;
  padding: 35px 0;
  margin-bottom: 50px;

  h4 {
    @include Gibson-Regular;
    font-size: 21px;
    margin-left: 40px;
    float: left;
  }

  p {
    font-size: 16px;
    -webkit-font-smoothing: subpixel-antialiased;
    margin-top: 4px;
    padding-left: 70px;
    float: left;
  }

  a { padding-left: 20px; }
}

p.footnotes {
  font-size: 12px;
  line-height: 24px;
  margin-left: 40px;
}

hr.pricing {
  margin: 60px 40px;
  opacity: 0.3;
}

p.pricing-faq {
  @include column(4);
  width: 300px;
  font-size: 16px;
  line-height: 24px;

  strong {
    display: block;
    margin-bottom: 15px;
  }

  &.first { margin-left: 40px!important; }

  &.second, &.third { margin-left: 70px; }

}



/////////////////////
// SUCCESS STORIES //
////////////////////

.stories {
  width: 100%;
  height: 400px;
  background-color: $blue;
  @include transition(all, 0.15s, ease-in-out);

  &:hover { box-shadow: 0px 400px rgba(237, 79, 46, 0.9) inset; cursor: hand; }
}

.thequiver { background: url("../images/bg.thequiver.jpg") no-repeat center center; }

.maggieskidmarket { background: url("../images/bg.maggieskidmarket.jpg") no-repeat center center; }

.casaguau { background: url("../images/bg.casaguau.jpg") no-repeat center center; }

.thequiver, .maggieskidmarket, .casaguau {
  background-size: cover;
  box-shadow: 0px 400px rgba(42, 61, 75, 0.3) inset;
  width: 100%;
  height: 400px;

  h2 {
    padding-top: 150px;
    padding-bottom: 25px;
    color: $white;
    font-size: 72px;
    text-align: center;
    letter-spacing: -0.02em;
  }

  h5 {
    text-align: center;
    color: $white;
    font-size: 24px;
  }
}

.story-page {

  a {
    @include Gibson-Regular;
    font-size: 16px;
  }

  p.story-ingress {
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 130px;
  }

  p.quote {
    @include column(1);
    font-family: Gibson-LightIt;
    padding-top: 100px;
    width: 220px;
    font-size: 26px;
    line-height: 36px;
    text-align: right;
    margin-left: 30px;
    margin-right: 120px;
  }

  .story-content {
    @include column(4);
    padding-top: 105px;
    max-width: 650px;
    width: 95%;

    p {
      padding-bottom: 30px;
      font-size: 19px;
      line-height: 30px;
    }

    h4 {
      @include Gibson-Regular;
      padding-top: 15px;
      padding-bottom: 30px;
      font-size: 21px;
      line-height: 30px;
    }
  }
}

img.story-left, img.story-right {
  width: 50%;
  height: auto;
  float: left;
}

.maggieskidmarket-banner, .casaguau-banner, .thequiver-banner {
  margin-top: 150px;
  width: 50%;
  color: $white;
  text-align: center;
  box-shadow: 0px 400px rgba(42, 61, 75, 0.3) inset;
  @include transition(all, 0.15s, ease-in-out);

  h3 {
    font-size: 42px;
    @include Gibson-Light;
    margin-top: 160px;
    letter-spacing: 0em;
    margin-bottom: 15px;
  }

  p {
    @include Gibson-Light;
    margin: 0 auto;
    font-size: 21px;
    margin-bottom: 160px;
  }

  &.left { float: left; }
  &.right { float: right; }

  &:hover { box-shadow: 0px 400px rgba(237, 79, 46, 0.9) inset; cursor: hand; }
}

.maggieskidmarket-banner {
  background: url("../images/bg.maggieskidmarket.jpg") no-repeat center center;
  background-size: cover;
}

.casaguau-banner {
  background: url('../images/bg.casaguau.jpg') no-repeat center center;
  background-size: cover;
}

.thequiver-banner {
  background: url('../images/bg.thequiver.jpg') no-repeat center center;
  background-size: cover;
}



/////////////////////
// CONTACT //
////////////////////


.contact {
  display: hidden;
  z-index: 1;
  position: relative;
  width: 100%;
  height: 93%;
  color: $white;
  background-color: rgba(237, 79, 46, 0.9);
  background-blend-mode: multiply;

  img.castle {
    margin-bottom: 40px;
    float: none;
    display: inline-block;
    width: 60px;
    vertical-align: -1px;
  }

  p {
    @include Gibson-Regular;
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 28px;
    letter-spacing: 0.04em;
  }

  a { color: $blue;

    &:hover { color: #000; }
  }

  p.osoite {
    font-size: 13px;
    letter-spacing: 4px;
  }

}

.contact-text {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  height:450px;
  text-align: center;
}

#googlemaps {
  height: 93%;
  width: 100%;
  position:absolute;
  top: 105px;
  left: 0;
  z-index: 0;
}


////////////
// 768px //
///////////

@media screen and (min-width: 1920px) {

  .hero-text { left: 15%; }

}

@media screen and (max-width: 768px) {

  .main-wrapper { max-width: 90%; }

  #maincolumn, #sidebar {
    @include column(12);
    margin-bottom: 1em;
  }

  .reason { @include column(12); }

}