<div class="main-wrapper center-v">
  <h4>No credit card or business loan required.</h4>
  <h3>Start your free 30-day trial of Sharetribe.</h3>

  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="trial-page swiper-slide">
        <div class="email-field trial-field email">
          <input class="email question" type="text" name="email" placeholder="First, what's your email?">
          <button class="next-button" type="submit">Next ›</button>
        </div>
      </div>
    </div>
  </div>

  <p class="trial-info">We pinky promise that we will never sell your information.</p>
</div>
