<div class="marketplace-field trial-field">
  <select class="marketplace-type question chosen-select" type="text" name="marketplace-type" placeholder="Language" data-placeholder="Marketplace type" >
    <option value="default"></option>
    <option value="product">Product marketplace</option>
    <option value="rental">Rental marketplace</option>
    <option value="service">Service marketplace</option>
  </select>
  <input class="marketplace-name question" type="text" name="marketplace-name" placeholder="Marketplace name...">
  <button class="next-button" type="submit"><span class="slide-number">5 of 5</span> Finish ›</button>
</div>
